body {
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-family: 'Monoton', sans-serif;
    margin: 10px 0 20px;
}

h1 a {
    color: #ccc;
    text-decoration: none;
}

h1 a.active {
    color: purple;
}

#vote-filters, form {
    margin-bottom: 15px;
    display: inline-block;
}

#bar-chart {
    width: 100%;
}

#bar-chart div {
    font-size: 12px;
    text-align: right;
    padding: 3px;
    margin: 2px;
    color: white;
    cursor: default;
}

#bar-chart div:hover {
    background-color: red;
}

#x-axis-control, #y-axis-control {
    display: inline-block;
}

#y-axis-control {
    margin-left: 10px;
}

form label {
    font-weight: bold;
}

button.pure-button {
    padding: 5px 10px;
    margin-left: 10px;
}

button.pure-button-primary {
    background-color: purple;
}

#details {
    display: none;
    width: 300px;
    padding: 10px;
    font-size: 12px;
    background-color: rgba(30, 30, 30, .8);
    position: absolute;
    color: white;
    border-radius: 5px;
}

#details img {
    float: left;
    width: 100px;
    margin: 0 10px 5px 0;
}

#details h2 {
    font-size: 20px;
    margin-top: 5px;
}

#details p {
    margin: 5px 0;
}

#details p.plot {
    font-style: italic;
}